


.view-all-button {
    background-color: hwb(197 93% 4%); 
    color: hsl(0, 87%, 6%);
    padding: 10px 50px; 
    border: 0; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 11px; 
    text-align: 
    
  }
  
  
  .view-all-button:hover {
    background-color: hsl(210, 37%, 93%);
  }
  
  console.log(viewAllButton)