.shop-now-button {
    border-radius: 30px;
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
}

.view-all-button {
    border-radius: 30px;
    background-color: white;
    color: black;
    width: 150px;
    height: 40px;
    border-color: rgb(247, 245, 245);
    border-style: solid;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
} 

.rounded-input {
    background-color: #F0F0F0;
    color: rgb(202, 193, 193);
    border-style: none;
    border-radius: 62px;
    width: 285px;
    height: 50px;
    padding: 0px 16px;
    padding-left: 50px;
    font-family: 'Courier Prime', Courier, monospace;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    

}

.email-icon {
    position: relative;
    top: 38px;
    left: 23px;
    color: rgb(184, 191, 197);
    font-weight: bolder;

    
    
    
}

