.search-bar {
    background-color: #F0F0F0;
    color: white;
    border-style: none;
    border-radius: 62px;
    width: 451px;
    height: 40px;
    padding: 0px 16px;
    padding-left: 40px;
    font-family: 'Courier Prime', Courier, monospace;
    font-size: 16px;
}

.search-icon {
    position: relative;
    top: 36px;
    left: 16px;
}