.shop-now-button{
    border-radius: 30px;
    background-color: black;
    width: 150px;
    height: 40px;
    color: white;
};

.view-all-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}